@model List<YouTube.Entities.Video>
@using System.Globalization

<h1>Video List</h1>

<div class="row">
    @foreach (var video in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls class="embed-responsive-item">
                        <source src="https://tortuga.wtf/vod/1749" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@video.Title</h5>
                    <p class="card-text">Author: @video.User.Nickname</p>
                    <p class="card-text">Published: @video.DateOfPublication.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)</p>
                    <a asp-controller="Video" asp-action="Delete" asp-route-id="@video.Id" type="button" class="btn btn-danger">
                        <i class="bi bi-trash3"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<p>Count: @Model.Count</p>
