@{
    var create = ViewBag.CreateMode;
    var user = ViewBag.User as UserDto;
    ViewBag.Title = create ? "Create" : "Edit";
}
@model VideoDto

<h2>@ViewBag.Title</h2>
<form enctype="multipart/form-data" method="post" asp-action="@(create ? "AddVideo" : "Edit")">
    <input type="hidden" asp-for="UserId" value="@user.Id" />
    <input type="hidden" asp-for="UserNickname" value="@user.Nickname" />
    <input type="hidden" asp-for="DateOfPublication" value="@DateTime.Now" />

    <div class="form-group">
        <label>Video URL</label>
        <input asp-for="VideoUrl" type="text" class="form-control" placeholder="Enter Avatar Url">
        <span class="small text-danger" asp-validation-for="VideoUrl"></span>
    </div>
    <div class="form-group">
        <label>Preview Url</label>
        <input asp-for="PreviewUrl" type="text" class="form-control" placeholder="Enter Preview Url">
        <span class="small text-danger" asp-validation-for="PreviewUrl"></span>
    </div>
    <div class="form-group">
        <label>Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Enter Title">
        <span class="small text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea asp-for=Description maxlength="10000" placeholder="Enter product description" class="form-control"></textarea>
        <span class="small text-danger" asp-validation-for="Description"></span>
    </div>

    <button type="submit" class="btn btn-danger">@(create ? "Create" : "Edit")</button>
    <button type="button" class="btn btn-dark" onclick="window.history.back();">Back</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
