@using System.Security.Claims
@model UserDto
@{
    var videos = ViewBag.Videos;
    var countSubscriber = ViewBag.CountSubscriber;
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier)!;
    var isCurrentUser = Model.Id == currentUserId;
}

<h1>@Model.Nickname</h1>

<div class="card mb-3">
    <div class="card-header">
        <h2>@Model.Nickname</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="@Model.AvatarUrl" alt="Avatar" class="img-fluid" />
            </div>
            <div class="col-md-8">
                <p><strong>Name:</strong> @Model.Name</p>
                <p><strong>Email:</strong> @Model.Email</p>
                <p><strong>Birthday:</strong> @Model.Birthday.ToShortDateString()</p>
                <p><strong>Subscriber:</strong> @countSubscriber</p>
            </div>
        </div>
        @if (isCurrentUser)
        {
            <div class="d-flex justify-content-between mt-3">
                <div>
                    <a asp-controller="Video" asp-action="AddVideo" asp-route-idUser="@Model.Id" class="btn btn-success">
                        <i class="bi bi-plus"></i> Create new video
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    @foreach (var video in videos)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <a asp-controller="Video" asp-action="Revision" asp-route-idVideo="@video.Id">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img src="@video.PreviewUrl" class="card-img-top img-fluid video-preview" alt="Preview for @video.Title">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">@video.Title</h5>
                    <p class="card-text">Author: @video.Nickname</p>
                    <p class="card-text">Published: @video.DateOfPublication.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)</p>
                    @if (!string.IsNullOrEmpty(video.Description))
                    {
                        <p class="card-text">Description: @video.Description</p>
                    }
                    @if (isCurrentUser)
                    {
                        <a asp-controller="Video" asp-action="Delete" asp-route-id="@video.Id" class="btn btn-danger">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                        <a asp-controller="Video" asp-action="Edit" asp-route-id="@video.Id" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>
